@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
/* why is the btn being called not reflecting these utility classes */
  .btn-icon { 
    @apply flex justify-between items-center rounded-full px-2 py-2 bg-white text-base transition-all hover:bg-neutral-100
  }

  .btn_white_text  { 
    @apply bg-white px-8 py-3 text-gray-90
  }
  .btn_green  { 
    @apply  border-green-50 bg-green-50 px-8 py-5 text-white
  }
  .btn-primary { 
    @apply  flex justify-between items-center gap-2 rounded-lg bg-neutral-100 px-16 py-4 text-base transition-all hover:bg-neutral-200
  }
  .btn-secondary { 
    @apply  flex justify-between items-center gap-2 rounded-lg bg-neutral-100 px-8 py-2 text-base transition-all hover:bg-neutral-200
  }
}
